/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mulish:wght@300&family=Quattrocento+Sans&family=Roboto&display=swap');

/* General */
* {
    box-sizing: border-box;
}

/* Body */
body {
    background: url('../images/world_map_with_flags_bg.jpg') no-repeat;
    color: #fff;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Header */
header {
    font-family: 'Roboto', sans-serif;
}

/* Nav */
.navbar-custom {
    background-color: #03AEB8;
    color: #fff;
}

.navbar-custom a {
    color: inherit;
}

.navbar-nav a:hover {
    color: rgb(252, 70, 97);
    font-size: 150%;
}

/* Headings */
h2,
h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FFB402;
}

/* Config Form */
#config-form {
    width: 70%;
    margin-left: 15%;
    align-items: center;
}

/* Scoreboards */
.table thead {
    color: #FFB402;
    border: #fff 1px solid;
}

.table td {
    color: #fff;
}

/* Overlays */
.container-overlay {
    background: rgba(252, 70, 98, 0.90);
    height: 60vh;
    padding: 10vh 10px;
}

.question-container-overlay {
    background: rgba(252, 70, 98, 0.90);
    padding: 10px 10px;
}

.section {
    margin-top: 10%;
}

/* Quiz Info */
#question-counter::before {
    content: "Question: ";
    color: #FFB402;
}

#timer::before {
    content: "Time: ";
    color: #FFB402;
}

#score-container::before {
    content: "Score: ";
    color: #FFB402;
}

/* Question */
#continent::before {
    content: "Which country located in ";
    color: #fff;
}

#continent::after {
    content: " ";
}

#capital::before {
    content: "and it's capital is ";
    color: #fff;
}

#capital::after {
    content: "?";
    color: #fff;
}

/* Contact Us */
#contactUsFeedback {
    color: #03AEB8;
}

/* Footer */
footer {
    margin-top: 10%;
    background-color: #03AEB8;
    color: #fff;
    text-align: center;
}

footer ul {
    margin-top: 1%;
    list-style: none;
    display: inline-block;
}

footer li {
    display: inline-block;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: rgb(252, 70, 97);
}